# Arquivo para pré processamento dos arquivos csv
Junta arquivos, e remove as colunas que não serão utilizadas. 

Aqui primeiro é feita a junção dos arquivos

In [17]:
import pandas as pd

FILE2 = "./dados-fds/file2.csv"
FILE3 = "./dados-fds/file3.csv"


df2: pd.DataFrame = pd.read_csv(
    FILE2, sep=";", decimal=",", encoding="latin1"
)  # Declarando a variável assim o tipo de variável fica explícito
df3 = pd.read_csv(FILE3, sep=";", decimal=",", encoding="latin1")


def merge_dataframes(df1, df2):
    """
    Função para mesclar dois DataFrames
    """
    return pd.concat([df1, df2], axis=0, ignore_index=True)

df2

# merge_dataframes(df2, df3).to_csv(
#     "./dados-fds/merged.csv", sep=";", decimal=",", index=False, encoding="latin1"
# )

,DATE,TIME,I_MF1,I_MF2,I_MF3,I_MF4,I_MM1,I_MM2,Sensor_Radi,T_BOILER100,...,T_MF4_OUT,T_MM2_IN,T_MM2_OUT,V_MF1,V_MF2,V_MF3,V_MF4,V_MM1,V_MM2,Vazao1
0,11/05/2025,"00:00:01,000",0.02,0.44,0.46,0.3,0.5,0.16,-0.83,-100.0,...,27.88,28.82,28.73,0.24,0.36,0.33,0.51,0.39,0.21,0.0
1,11/05/2025,"00:00:02,000",0.02,0.44,0.46,0.3,0.5,0.16,-0.83,-100.0,...,28.21,28.98,29.18,0.24,0.36,0.33,0.51,0.39,0.21,0.0
2,11/05/2025,"00:00:03,000",0.02,0.44,0.46,0.3,0.5,0.16,-0.83,-100.0,...,27.11,29.53,29.39,0.24,0.36,0.33,0.51,0.39,0.21,0.0
3,11/05/2025,"00:00:04,000",0.02,0.40,0.46,0.3,0.5,0.18,-0.83,-100.0,...,28.18,29.01,29.09,0.30,0.33,0.33,0.51,0.36,0.21,0.0
4,11/05/2025,"00:00:05,000",0.02,0.40,0.46,0.3,0.5,0.18,-0.83,-100.0,...,28.06,29.15,29.47,0.30,0.33,0.33,0.51,0.36,0.21,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
89587,12/05/2025,"00:53:44,000",0.00,0.38,0.46,0.3,0.5,0.16,-0.83,-100.0,...,21.72,23.55,24.27,0.51,0.60,0.57,0.75,0.63,0.36,0.0
89588,12/05/2025,"00:53:45,000",0.00,0.38,0.46,0.3,0.5,0.16,-0.83,-100.0,...,24.53,24.19,24.23,0.51,0.60,0.57,0.75,0.63,0.36,0.0
89589,12/05/2025,"00:53:46,000",0.00,0.38,0.46,0.3,0.5,0.16,-0.83,-100.0,...,22.81,24.67,24.79,0.51,0.60,0.57,0.75,0.63,0.36,0.0
89590,12/05/2025,"00:53:47,000",0.00,0.38,0.46,0.3,0.5,0.16,-0.83,-100.0,...,22.93,24.76,25.12,0.51,0.60,0.57,0.75,0.63,0.36,0.0
89591,12/05/2025,"00:53:48,000",0.00,0.38,0.46,0.3,0.5,0.16,-0.83,-100.0,...,22.58,24.11,24.99,0.51,0.60,0.57,0.75,0.63,0.36,0.0

In [ ]:
import pandas as pd

df_merged = pd.read_csv(
    "./dados-fds/dados-sh.csv", sep=";", decimal=".", encoding="latin1"
)  # Lendo o arquivo mesclado

print(df_merged['timestamp'].head())  # Exibindo as primeiras linhas da coluna timestamp
df_merged["timestamp"] = pd.to_datetime(
    df_merged["timestamp"], format="%Y-%m-%d %H:%M:%S", errors="coerce"
)  # Convertendo a coluna timestamp para datetime

# Reduzindo 3 horas da coluna timestamp
df_merged["timestamp"] = df_merged["timestamp"] - pd.Timedelta(hours=3)
print(df_merged['timestamp'].head())  # Exibindo as primeiras linhas da coluna timestamp

df_merged.to_csv(
    "./dados-fds/dados-sh.csv", sep=";", decimal=".", index=False, encoding="latin1"
)

In [ ]:
import pandas as pd
df_merged = pd.read_csv(
    "./dados-fds/merged.csv", sep=";", decimal=",", encoding="latin1"
)  # Lendo o arquivo mesclado

# print(df_merged.columns)  # Imprimindo os nomes das colunas
colunas_desejadas = [
    "timestamp",
    "T_MF4_IN",
    "T_MF4_OUT",
    "T_MM2_IN",
    "T_MM2_OUT",
    "T_BOILER100",
    "T_BOILER200",
    "T_IN",
    "Sinal_Vazao1",
]
df_merged = df_merged.drop(
    df_merged.columns.difference(colunas_desejadas), axis=1
)  # Mantendo apenas as colunas desejadas
# Salva no arquivo mesclado
df_merged.to_csv(
    "./dados-fds/merged.csv", sep=";", decimal=",", index=False, encoding="latin1"
)

In [ ]:
import pandas as pd

colunas_desejadas = [
    "timestamp",
    "T_MF4_IN_sh",
    "T_MF4_OUT_sh",
    "T_MM2_IN_sh",
    "T_MM2_OUT_sh",
    "T_BOILER100_sh",
    "T_BOILER200_sh",
    "T_IN_sh",
    "Sinal_Vazao1_sh",
    "T_MF4_IN_sd",
    "T_MF4_OUT_sd",
    "T_MM2_IN_sd",
    "T_MM2_OUT_sd",
    "T_BOILER100_sd",
    "T_BOILER200_sd",
    "T_IN_sd",
    "Sinal_Vazao1_sd",
]

df_merged = pd.read_csv(
    "./dados-fds/merged.csv", sep=";", decimal=",", encoding="latin1"
)  # Lendo o arquivo mesclado